@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* pending - text reveal animations */

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 60px;
}
body {
  overflow-x: hidden;
}
header {
  padding: 0px 50px;
  height: 60px;
  background-color: #0a0a0a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky .header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-right: 10px;
  padding-left: 10px;

  box-shadow: 0 0 20px 0 black;
  transition: 1s;
}

.sticky .section-info {
  margin-top: 60px;
}

.header .logo {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-list li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #a0a0a0;
  transition: 0.3s;
  position: relative;
  /* padding: 0; */
}

/* navbar hover - underline */

.navbar-list li a:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #75c20a;
  left: 0;
  bottom: -7px;
}

.navbar-list li a:hover::after {
  width: 100%;
}
.navbar-list :hover {
  color: #ffffff;
}

.mobile-nav-bar {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  height: 2rem;
  width: 2rem;
  color: #ffffff;
}

.button-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.btn-learn {
  padding: 10px;
  width: 150px;
  border: 0;
  border-radius: 100px;
  /* font-size: px; */
  font-weight: bold;
  background-color: #a0a0a0;
  transition: 0.3s;
}

.btn-learn:hover {
  background-image: linear-gradient(
    to right,
    #7bb629,
    #7bbc20,
    #74b31d,
    #8eed07
  );
  box-shadow: 0 4px 15px 0 #75c20a;
  transform: scale(1.1);
}

/* responsive code section */

@media (max-width: 980px) {
  .mobile-nav-bar {
    display: block;
    z-index: 999;
    /* border: #ffffff 1px solid; */
    color: #ffffff;
  }
  .header {
    position: relative;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 40vh;
    background: #0a0a0a;
    

    /* adding a transparent effect on navbar */

    
    top: 0;
    position: absolute;
    /* right: 0; */
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition */

    transform: translateX(100%);
    transition: all 0.5s linear;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }



  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

 

  .navbar-list li a:hover::after {
    width: 0%;
  }

  .navbar-list li a:hover {
    color: #75c20a;
  }
}

@media only screen and (max-width: 768px) {
  #head-title h1 {
    font-size: 40px;
  }

  #section-info-slogan p {
    font-size: 60%;
  }

  .section-info {
    gap: 30px;
  }
}

#head-title {
  color: white;

  font-size: 40px;
}

#section-info-slogan {
  color: darkgray;
  font-size: 20px;
  width: auto;
}

#fit {
  color: #ffffff;
  display: block;
  transition: 0.3s;
  width: fit-content;
  height: min-content;
}

#fit:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0);
  text-shadow: 0em 0em 3em #83ff00, 0em 0em 2em #83ff00, 1px 1px 5px #83ff00,
    0px 0px 15px #83ff00, 1px 0px 0px white, -1px 0px 2px rgba(0, 0, 0, 0.5);
}

.active .navbar {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.section-info {
  padding: 30px;
  height: 80vh;
  background: url(../bgimages/fitness.jpg) rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: left;
  row-gap: 30px;
  overflow: auto;
}

.setBackground {
  background: url(../bgimages/2064246.jpg) rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: darken;
}

.current-health-stats {
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  height: auto;
}

.health-stats-main-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-health-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  min-height: 200px;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 10px 0px grey;
  cursor: pointer;
}

.card-health-container:hover {
  transition: all 0.3s;
  transform: scale(1.1);
}
.section-info-services {
  padding: 30px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* section -services */

.section-services {
  background-color: #1b6b93;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.flex-service {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.fitness-guides-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  min-width: 350px;
  box-shadow: 0px 0px 1.3px rgba(0, 0, 0, 0.075),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;
  transition: all 0.2s;
}

.abt-heading {
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 10 5 5rem 5 grey;
}

.abt-slogna {
  color: #a0a0a0;
  padding-top: 20px;
  padding-bottom: 60px;
}

.fitness-guides-container .fitness-g-heading {
  color: #1b6b93;
}

.fitness-guides-container .fitness-g-content {
  color: grey;
}

.fitness-guides-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* end services section */




/* new section */

.goals-container{

  display: flex;
  align-items: center ;
  justify-content:flex-start;
  gap: 40px;
  background-color: lightgreen;
  height: auto;
  padding: 30px;
  flex-direction: column;
  text-transform: uppercase;

}
/* end section */




footer {
  background-color: #0a0a0a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.creator-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.creator-contact ul {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.contact-links li {
  list-style: none;
  display: block;

  text-align: center;
}

.contact-links li a {
  text-decoration: none;
}

.contact-links .footer-logo {
  height: 50px;
  width: 50px;
}
