@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* pending - text reveal animations */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 100px;
}
body {
  overflow-x: hidden;
  background-color: #f3fde8;
}
header {
  padding: 0px 50px;
  height: 60px;
  background-color: #0a0a0a;
  /* background-color: transparent; */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.sticky .header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-right: 10px;
  padding-left: 10px;

  box-shadow: 0 0 20px 0 black;
  transition: 1s;
}

.sticky .section-hero {
  margin-top: 60px;
}

.header .logo {
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-list li ul {
  position: absolute;
  width: 200px;
  background: rgba(0, 0, 0, 0.629);
  backdrop-filter: blur(10px);
  /* border: 2px solid #080808; */
  list-style: inherit;
  display: none;
}

.navbar-list li ul li {
  text-decoration: inherit;
  padding: 10px;
  width: 100%;
}

.navbar-list li :hover ul {
  display: initial;
}

.navbar-list li a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #a0a0a0;
  transition: 0.3s;
  position: relative;
  /* padding: 0; */
}

.navbar-list li a:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #75c20a;
  left: 0;
  bottom: -7px;
}

.navbar-list li a:hover::after {
  width: 100%;
}

.navbar-list :hover {
  color: #ffffff;
}

.mobile-nav-bar {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 40px;
  height: 40px;
  color: #ffffff;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* responsive code section */

@media (max-width: 980px) {
  .mobile-nav-bar {
    display: block;
    z-index: 999;
    color: #ffffff;
  }
  .header {
    position: relative;
  }

  .navbar {
    /* adding a transparent effect on navbar */
    width: 100%;
    height: 40vh;
    background: #0a0a0a;
    top: 0;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition */

    transform: translateX(100%);
    transition: all 0.5s linear;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .active .navbar {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-nav-bar .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-nav-bar .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .navbar-list li a:hover::after {
    width: 0%;
  }

  .navbar-list li a:hover {
    color: #75c20a;
  }
}

@media only screen and (max-width: 768px) {
  #head-title h1 {
    font-size: 40px;
  }

  #section-info-slogan p {
    font-size: 60%;
  }

  .section-hero .container .hero-content {
    width: 350px;
  }
  .section-hero {
    gap: 30px;
  }

  #last-navi {
    gap: 0;
    font-size: 6px;
    /* padding: 10px; */
  }

  .contact-links .footer-logo {
    height: 5px;
    width: 5px;
  }

  .section-recent-posts .main-container {
    flex-direction: column;
  }

  .section-programs .card-programs {
    flex-direction: column;
  }

  .card-programs .content {
    flex-direction: column;
    width: 400px;
    gap: 10px;
    margin-left: 30px;
    margin-top: 10px;
  }

  .content h2 {
    font-size: 20px;
  }

  .section-recent-posts .srp-container {
    width: 300px;
  }

  .quick-tips{
    height: fit-content;
    
  }
}

/* responsive code section */

.section-hero {
  padding: 30px;
  background: url(../bgimages/alex-mccarthy-a6FHROHuQ9o-unsplash.jpg) no-repeat
    rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.section-hero .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .tagline {
  text-transform: uppercase;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.container .hero-heading {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 30px;
}

.container .hero-content {
  width: 50%;
  word-wrap: break-word;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.container .hero-buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.btn-learn {
  padding: 10px;
  width: 150px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  color: white;
  outline: none;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.495);
  transition: 0.3s;
}

.btn-learn:hover {
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(46, 227, 23) 0%,
    rgb(2, 135, 20) 90%
  );
  border: none;
  transform: scale(1, 1);
}

.btn-signup {
  padding: 10px;
  width: 150px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(46, 227, 23) 0%,
    rgb(2, 135, 20) 90%
  );
  text-transform: uppercase;
  color: white;
  box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.495);
  transition: 0.3s;
  cursor: pointer;
}

.section-art {
  background-color: #f3fde8;
  height: 40vh;
  -webkit-box-shadow: 0px 0px 6px 3px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 6px 3px rgb(5, 5, 5);
  box-shadow: 0px 0px 6px 3px rgb(47, 45, 47);
}

.ch-title {
  font-size: 75px;
  text-align: center;
  padding: 20px;
  font-weight: 900;
}

.ch-title span {
  color: #74b31d;
  text-shadow: 2px 2px 10px rgba(0, 255, 8, 0.463);
}

.section-info-services {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* section -services */

.abt-heading {
  padding-top: 10px;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.abt-heading h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 50px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.abt-heading span {
  display: block;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.523);
  padding-top: 10px;
}

.abt-heading h1::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 3px;
  content: "";
  background-color: #16e312;
}

.section-services {
  background-color: #a8df8e;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.flex-service {
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.fitness-guides-container {
  display: flex;
  flex-direction: column;
  background-color: #f3fde8;
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  min-width: 350px;
  box-shadow: 0px 0px 1.3px rgba(0, 0, 0, 0.075),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 20px;
  transition: all 0.2s;
}

.fitness-guides-container .fitness-g-heading {
  color: #84dd07;
}

.fitness-guides-container .fitness-g-content {
  color: grey;
}

.fitness-guides-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* end services section */

/* new section */

/* end section */

/* CONTACT */

.section-cn {
  padding: 30px;
}

.section-contact-main {
  margin: 0 auto;
  max-width: 600px;
  padding: 30px;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-contact-main .grid {
  display: flex;
  gap: 15px;
}

.section-contact-main input,
textarea {
  padding: 8px 10px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  width: 100%;
  font-size: 12px;
  outline: none;
}

.section-contact-main textarea {
  height: 150px;
  outline: none;
}

/* ::placeholder {
  font-size: 1.6rem;
  font-family: "work sans";
} */

.section-contact-main input[type="submit"] {
  max-width: 40%;
  border: none;
  background: #b7ef7b;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 0 2px 0.5px darkgray;
}

.section-contact-main input[type="submit"]:hover {
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(19, 170, 82) 0%,
    rgb(2, 135, 57) 90%
  );
}

footer {
  background-color: #1f1f1e;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  height: 30vh;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* gap: 100px;
  width: 100%; */
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.creator-contact ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.contact-links li {
  display: block;
  text-align: center;
}

.contact-links li a {
  text-decoration: none;
  color: #48ed399a;
}

.contact-links .footer-logo {
  height: 50px;
  width: 50px;
}

.creater-copyright {
  background-color: #111010;

  width: 100%;
  height: 5vh;
  text-align: center;
  padding: 6px 0;
}

.creater-copyright p {
  color: #616060;
}

.footer-services {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.footer-services p {
  padding-bottom: 10px;
  text-transform: uppercase;
}

.fs-li {
  list-style: none;
  color: #7c7c7c;
}

.quick-tips {
  height: 300px;
  background-image: url(../bgimages/fit-girl.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.quick-tips .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 255, 0);
  opacity: 25%;
}

.quick-tips .container {
  position: relative;
}

.quick-tips .tips-heading h1 {
  font-size: 50px;
  color: black;
  text-shadow: 0 0 2px black;
  word-spacing: 10px;
}

#element2 {
  color: #1f1f1e;
  font-size: 25px;
}

/* testing servicesss */

.section-programs {
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  align-content: center;
}

.card-programs {
  display: flex;
  flex-direction: row;
  background-color: #eaeaea;
  box-shadow: 0px 0px 1.3px rgba(0, 0, 0, 0.075),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  min-height: 300px;
  align-items: center;
  padding: 20px;
  justify-content: space-around;
}

.card-programs .clip-art {
  height: 200px;
  width: 300px;
  background: url(../bgimages/workout-transformed.jpeg) no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.content {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  justify-content: space-between;
  align-items: left;
  gap: 10px;
}

.content h2 {
  font-size: 35px;
  color: #7ae847;
  font-weight: 500;
}
.content span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: -15px;
  color: rgba(0, 0, 0, 0.523);
}

.content .content-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  list-style-type: disc;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 16px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.641);

  /* justify-content: space-evenly; */
}
.content .content-list li {
  padding: 0 30px 0 0;
}

/* nutrition card */
.card-nutrition {
  background-color: #ffffff;
  flex-direction: row-reverse;
}

.card-nutrition .clip-art {
  background: url(../bgimages/nutrition-transformed.jpeg) no-repeat;
  background-size: cover;
}

.card-onlinesupport {
  background-color: #ffffff;
  flex-direction: row-reverse;
}

.content .btn-cta {
  width: 150px;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(46, 227, 23) 0%,
    rgb(2, 135, 20) 90%
  );
  text-transform: uppercase;
  color: white;
  /* box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.495); */
  cursor: pointer;
}

.section-services .btn-check {
  width: 250px;
  padding: 10px;
  margin-top: 20px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  background: radial-gradient(
    circle at -1% 57.5%,
    rgb(46, 227, 23) 0%,
    rgb(2, 135, 20) 90%
  );
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.card-heath-tools .clip-art {
  background: url(../bgimages/tools.jpg) no-repeat;
  background-size: cover;
}

.card-onlinesupport .clip-art {
  background: url(../bgimages/online-support.jpg) no-repeat;
  background-size: cover;
}

.collapse-wrapper {
  display: flex;
  justify-content: center;
}

.card-collapsable {
  width: 600px;
  overflow: hidden;
}

.card-collapsable h2 {
  position: relative;
  background-color: #fefefa;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.card-collapsable .arrow {
  position: absolute;
  right: 20px;
  margin-top: 4px;
}

.content-collapsible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 0px;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  transition: 0.5s ease-in;
  gap: 10px;
}

.content-collapsible span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.8);
}

.content-collapsible .content-list {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  text-transform: uppercase;
  padding-top: 20px;
  justify-content: center;
  text-align: left;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.content-collapsible .clip-art {
  height: 200px;
  width: 300px;

  background: url(../bgimages/online-support.jpg) no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.hideAccord {
  position: relative;
  max-height: 600px;
  opacity: 1;
  padding: 20px;
}

.program-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.program-heading span {
  width: 50%;
}

.program-heading h1::before {
  display: none;
}

.section-recent-posts .main-container {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.section-recent-posts {
  padding: 30px;
  background: url(../bgimages/exercise-running-women-jogging.jpg)
    rgba(0, 0, 0, 0.4) no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.section-recent-posts .srp-heading {
  padding: 10px;
  color: #ffffff;
}

.section-recent-posts .srp-heading h3 {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.section-recent-posts .srp-heading p {
  text-align: center;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.642);
  padding-top: 5px;
}

.cnt-image img {
  height: 80%;
  max-width: 100%;
}

.section-recent-posts .srp-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* background-color:#47bdfdb0; */
  background: rgba(255, 255, 255, 0.237);
  backdrop-filter: blur(10px);
  justify-content: space-between;
}

.srp-container {
  .content-title {
    padding: 15px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .content-blog {
    padding: 15px;
  }
  .readmore {
    padding: 15px;
  }
  .blog-date {
    padding: 15px;
    font-size: 12px;
  }
}
